
/* ----Landing CSS---- */


.point h2 {
  color :#7D8979;
}

.hero-title {
  background-color: #ABBCA6;
}

section.selling-points {
  background-color: #ABBCA6;
}

.point-description {

}


/*----Library CSS----*/



/*----Album CSS----*/



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App header {
  border-radius: 10px 10px 10px 10px;
  background-color: #cccfe1;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #7D8979;
}


.App a {
  color: #7D8979;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
